// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  color: #777;
}

#canvas {
  display: block;
  border:2px solid #999;
  background-color: rgb(252,252,252);
  border-radius:5px;
  margin: 30px auto;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.navbar {
  margin-bottom:0;
}

svg {
  margin-bottom: -5px;
}

.col-xs-2 p {
  display:inline-block;
  width:100%;
  font-size:0.9em;
}

.btn-default:hover {
  background-color:white;
}

.edge {
  height: 100vh;
  margin-top: -50px;
}

.content {
  margin-top:80px;
}

.navbar-header {
  float: left;
  padding: 15px;
  text-align: center;
  width: 100%;
}

.navbar-inverse .navbar-brand {
  color: #fff;
  font-size:1.5em;
  float:none;
}

.navbar {
  border-radius: 0px;
  box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
}  