<!DOCTYPE html>
<html>
<head>
  <title>Drawing</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="drawing">
  <nav class="navbar navbar-default">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        ClickTime
      </a>

    </div>
  </nav>
  <ng-view></ng-view>
  
</body>
</html>
